<main>
    <section>
        <h1>Revisa los productos de tus carros</h1>
        <p></p>
    </section>
    <section id="cartSection">
        <div class="vistaCarro">
        <h2>Productos:</h2>
            {{#if cart.products.length}}
                {{#each cart.products}}
                <article class="cartCard" >
                    <div class="cartDetails">
                        <img src="{{this.product.thumbnail}}" alt="{{this.product.title}}" class="cartImg"/>
                        <p>{{this.product.title}}</p>
                        <p>{{this.quantity}}</p>
                        <button type="button" class="btnDanger" onclick="deleteProductInCartById('{{../cart._id}}', '{{this.product._id}}')">X</button>                        
                    </div>
                </article>
            {{/each}}
            {{else}}
                <div class="productDetails">
                    <h4>El carrito de compras está vacío</h4>
                    <p>Agrega productos al carrito para verlos aquí</p>
                </div>
            {{/if}}
            <button type="button" class="btnDanger" onclick="deleteCartCollection()">Eliminar Carro</button>
        </div>
    </section>
</main>